**Installation and importation of necessary libraries**

In [ ]:
pip install pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Intro').getOrCreate()

In [5]:
spark

**Reading a csv file.**

In [6]:
df = spark.read.csv('/content/drive/MyDrive/data/APPLE_STOCK_Final.csv')

In [7]:
df.show()

+----------+------+------+------+------+---------+
|       _c0|   _c1|   _c2|   _c3|   _c4|      _c5|
+----------+------+------+------+------+---------+
|      Date| Price|  Open|  High|   Low|   Volume|
|05/12/2023|172.57|173.62|174.06| 171.0| 45530000|
|05/11/2023|173.75|173.85|174.59|172.17| 49510000|
|05/10/2023|173.55|173.02|174.03| 171.9| 53720000|
|05/09/2023|171.77|173.05|173.54| 171.6| 45330000|
|05/08/2023| 173.5|172.48|173.85|172.11| 55960000|
|05/05/2023|173.57|170.98| 174.3|170.76|113450000|
|05/04/2023|165.79|164.89|167.04|164.31| 70380000|
|05/03/2023|167.45| 169.5|170.92|167.16| 59440000|
|05/02/2023|168.54|170.09|170.35|167.54| 48430000|
|05/01/2023|169.59|169.28|170.45|168.64| 49390000|
|04/28/2023|169.68|168.49|169.85|167.88| 55280000|
|04/27/2023|168.41|165.19|168.56|165.19| 64220000|
|04/26/2023|163.76|163.05|165.28| 162.8| 44110000|
|04/25/2023|163.77|165.19| 166.3|163.73| 48170000|
|04/24/2023|165.33| 165.0| 165.6|163.89| 38990000|
|04/21/2023|165.02|165.05|166.45|164.49| 58340000|
|04/20/2023|166.65|166.09|167.87|165.56| 52460000|
|04/19/2023|167.63| 165.8|168.16|165.54| 47240000|
|04/18/2023|166.47| 166.1|167.41|165.65| 48410000|
+----------+------+------+------+------+---------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [55]:
df1 = spark.read.csv('/content/drive/MyDrive/data/APPLE_STOCK_Final.csv', header=True)
df1.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Volume: string (nullable = true)

In [56]:
df1.show()

+----------+------+------+------+------+---------+
|      Date| Price|  Open|  High|   Low|   Volume|
+----------+------+------+------+------+---------+
|05/12/2023|172.57|173.62|174.06| 171.0| 45530000|
|05/11/2023|173.75|173.85|174.59|172.17| 49510000|
|05/10/2023|173.55|173.02|174.03| 171.9| 53720000|
|05/09/2023|171.77|173.05|173.54| 171.6| 45330000|
|05/08/2023| 173.5|172.48|173.85|172.11| 55960000|
|05/05/2023|173.57|170.98| 174.3|170.76|113450000|
|05/04/2023|165.79|164.89|167.04|164.31| 70380000|
|05/03/2023|167.45| 169.5|170.92|167.16| 59440000|
|05/02/2023|168.54|170.09|170.35|167.54| 48430000|
|05/01/2023|169.59|169.28|170.45|168.64| 49390000|
|04/28/2023|169.68|168.49|169.85|167.88| 55280000|
|04/27/2023|168.41|165.19|168.56|165.19| 64220000|
|04/26/2023|163.76|163.05|165.28| 162.8| 44110000|
|04/25/2023|163.77|165.19| 166.3|163.73| 48170000|
|04/24/2023|165.33| 165.0| 165.6|163.89| 38990000|
|04/21/2023|165.02|165.05|166.45|164.49| 58340000|
|04/20/2023|166.65|166.09|167.87|165.56| 52460000|
|04/19/2023|167.63| 165.8|168.16|165.54| 47240000|
|04/18/2023|166.47| 166.1|167.41|165.65| 48410000|
|04/17/2023|165.23|165.09|165.39|164.03| 41520000|
+----------+------+------+------+------+---------+
only showing top 20 rows

**Reading a json file**

In [11]:
df2 = spark.read.json('/content/drive/MyDrive/Spark_DataFrames/people.json')
print(df2.show())
print(df2.printSchema())

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

None
root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

None

In [12]:
df1.columns

['Date', 'Price', 'Open', 'High', 'Low', 'Volume']

In [13]:
df1.describe()

DataFrame[summary: string, Date: string, Price: string, Open: string, High: string, Low: string, Volume: string]

In [14]:
df1.describe().show()

+-------+----------+------------------+------------------+-----------------+------------------+--------------------+
|summary|      Date|             Price|              Open|             High|               Low|              Volume|
+-------+----------+------------------+------------------+-----------------+------------------+--------------------+
|  count|     10627|             10627|             10627|            10627|             10627|               10627|
|   mean|      null|17.762759951067743| 17.75107179824943|17.95328220570211|17.555222546343884|2.6771120635983816E8|
| stddev|      null| 37.31948967716284|37.284672385434135|37.73392591982025| 36.86263380022763|2.4018651533580574E8|
|    min|01/02/1981|              0.05|              0.05|             0.05|              0.05|                   0|
|    max|12/31/2021|             98.36|             99.17|            99.95|             96.95|           999830000|
+-------+----------+------------------+------------------+-----------------+------------------+--------------------+

In [27]:
df1.dtypes

[('Date', 'string'),
 ('Price', 'string'),
 ('Open', 'string'),
 ('High', 'string'),
 ('Low', 'string'),
 ('Volume', 'string')]

**Attaching a schema for desired configuration (ie data types etc)**

In [4]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,MapType,DateType,FloatType

In [5]:
schema1 = StructType([StructField('Date',StringType(),True),
                      StructField('Price',FloatType(),True),
                      StructField('Open',FloatType(),True),
                      StructField('High',FloatType(),True),
                      StructField('Low',FloatType(),True),
                      StructField('Volume',IntegerType(),True)])

df3 = spark.read.csv('/content/drive/MyDrive/data/APPLE_STOCK_Final.csv',schema=schema1,header=True)

df3.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Price: float (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- Volume: integer (nullable = true)

In [59]:
df3.dtypes

[('Date', 'date'),
 ('Price', 'float'),
 ('Open', 'float'),
 ('High', 'float'),
 ('Low', 'float'),
 ('Volume', 'int')]

In [7]:
df3.show()

+----------+------+------+------+------+---------+
|      Date| Price|  Open|  High|   Low|   Volume|
+----------+------+------+------+------+---------+
|05/12/2023|172.57|173.62|174.06| 171.0| 45530000|
|05/11/2023|173.75|173.85|174.59|172.17| 49510000|
|05/10/2023|173.55|173.02|174.03| 171.9| 53720000|
|05/09/2023|171.77|173.05|173.54| 171.6| 45330000|
|05/08/2023| 173.5|172.48|173.85|172.11| 55960000|
|05/05/2023|173.57|170.98| 174.3|170.76|113450000|
|05/04/2023|165.79|164.89|167.04|164.31| 70380000|
|05/03/2023|167.45| 169.5|170.92|167.16| 59440000|
|05/02/2023|168.54|170.09|170.35|167.54| 48430000|
|05/01/2023|169.59|169.28|170.45|168.64| 49390000|
|04/28/2023|169.68|168.49|169.85|167.88| 55280000|
|04/27/2023|168.41|165.19|168.56|165.19| 64220000|
|04/26/2023|163.76|163.05|165.28| 162.8| 44110000|
|04/25/2023|163.77|165.19| 166.3|163.73| 48170000|
|04/24/2023|165.33| 165.0| 165.6|163.89| 38990000|
|04/21/2023|165.02|165.05|166.45|164.49| 58340000|
|04/20/2023|166.65|166.09|167.87|165.56| 52460000|
|04/19/2023|167.63| 165.8|168.16|165.54| 47240000|
|04/18/2023|166.47| 166.1|167.41|165.65| 48410000|
|04/17/2023|165.23|165.09|165.39|164.03| 41520000|
+----------+------+------+------+------+---------+
only showing top 20 rows

**Attaching a schema when creating a dataframe.**

In [21]:
# creating a maptype with key type StringType and value type IntegerType

# map_type = MapType(StringType(),IntegerType())

In [22]:
# creating a dataframe column from the maptype

schema = StructType([StructField('name',StringType(),True),
                     StructField('age',IntegerType(),True),
                     StructField('address',MapType(StringType(),IntegerType()),True)])

In [24]:
# Creating and populating the dataframe

data = [{'name':'John','age':30,'address':{'home':32232,'office':566435}},
        {'name':'Noman','age':27,'address':{'home':11223,'office':988972}}]

df2 = spark.createDataFrame(data,schema)

df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [25]:
df2.show()

+-----+---+--------------------+
| name|age|             address|
+-----+---+--------------------+
| John| 30|{office -> 566435...|
|Noman| 27|{office -> 988972...|
+-----+---+--------------------+

**Grabbing the data**

In [70]:
type(df2['age'])

pyspark.sql.column.Column

In [71]:
df3.select('Price')

DataFrame[Price: float]

In [75]:
df3.select('Price').show(5)

+------+
| Price|
+------+
|172.57|
|173.75|
|173.55|
|171.77|
| 173.5|
+------+
only showing top 5 rows

In [82]:
df3.head(2)

[Row(Date='05/12/2023', Price=172.57000732421875, Open=173.6199951171875, High=174.05999755859375, Low=171.0, Volume=45530000),
 Row(Date='05/11/2023', Price=173.75, Open=173.85000610351562, High=174.58999633789062, Low=172.1699981689453, Volume=49510000)]

In [83]:
df3.show(2)

+----------+------+------+------+------+--------+
|      Date| Price|  Open|  High|   Low|  Volume|
+----------+------+------+------+------+--------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|
+----------+------+------+------+------+--------+
only showing top 2 rows

In [85]:
# creating new columns

df3.withColumn('New_Low',df3['Low']).show(5)

+----------+------+------+------+------+--------+-------+
|      Date| Price|  Open|  High|   Low|  Volume|New_Low|
+----------+------+------+------+------+--------+-------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|  171.0|
|05/11/2023|173.75|173.85|174.59|172.17|49510000| 172.17|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|  171.9|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|  171.6|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000| 172.11|
+----------+------+------+------+------+--------+-------+
only showing top 5 rows

In [10]:
df3.withColumn('Double_Low',df3['Low']*2).show(5)

+----------+------+------+------+------+--------+----------+
|      Date| Price|  Open|  High|   Low|  Volume|Double_Low|
+----------+------+------+------+------+--------+----------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|     342.0|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|    344.34|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|     343.8|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|     343.2|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000|    344.22|
+----------+------+------+------+------+--------+----------+
only showing top 5 rows

**Running SQL Queries**

In [8]:
df3.createOrReplaceTempView('apple_temp_view')

**Filtering Data**

In [13]:
# Row with an opening price of less than 500

df3.filter("Open<500").show(5)

+----------+------+------+------+------+--------+
|      Date| Price|  Open|  High|   Low|  Volume|
+----------+------+------+------+------+--------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000|
+----------+------+------+------+------+--------+
only showing top 5 rows

In [16]:
# selecting price and volumeof rows with an opening price of less than 500

df3.filter("Open<500").select(['Price','Volume']).show(5)

+------+--------+
| Price|  Volume|
+------+--------+
|172.57|45530000|
|173.75|49510000|
|173.55|53720000|
|171.77|45330000|
| 173.5|55960000|
+------+--------+
only showing top 5 rows

Using normal python comparison operators is another way to do this, they will look very similar to SQL operators, except you need to make sure you are calling the entire column within the dataframe, using the format: df["column name"]

Let's see some examples:

In [18]:
df3.filter(df3['Open'] < 500).show(5)

+----------+------+------+------+------+--------+
|      Date| Price|  Open|  High|   Low|  Volume|
+----------+------+------+------+------+--------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000|
+----------+------+------+------+------+--------+
only showing top 5 rows

In [23]:
df3.filter((df3['Open'] < 500) & (df3['High'] > 100)).show(5)

+----------+------+------+------+------+--------+
|      Date| Price|  Open|  High|   Low|  Volume|
+----------+------+------+------+------+--------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000|
+----------+------+------+------+------+--------+
only showing top 5 rows

In [24]:
df3.filter((df3['Open'] < 500) | (df3['High'] > 100)).show(5)

+----------+------+------+------+------+--------+
|      Date| Price|  Open|  High|   Low|  Volume|
+----------+------+------+------+------+--------+
|05/12/2023|172.57|173.62|174.06| 171.0|45530000|
|05/11/2023|173.75|173.85|174.59|172.17|49510000|
|05/10/2023|173.55|173.02|174.03| 171.9|53720000|
|05/09/2023|171.77|173.05|173.54| 171.6|45330000|
|05/08/2023| 173.5|172.48|173.85|172.11|55960000|
+----------+------+------+------+------+--------+
only showing top 5 rows

Collecting results as Python Objects.

Reasons:

1.   To work with the results in Python ie average etc
2.   To save the results to a file
3.   To pass the results to another Spark operation

In [32]:
result = df3.filter(df3["Low"] == 171.0).collect()
result
# returns a nested structure

[Row(Date='05/12/2023', Price=172.57000732421875, Open=173.6199951171875, High=174.05999755859375, Low=171.0, Volume=45530000)]

In [30]:
type(result)

list

In [31]:
type(result[0])

pyspark.sql.types.Row

In [ ]:
# converting to a dict

In [35]:
row = result[0]

row.asDict()

{'Date': '05/12/2023',
 'Price': 172.57000732421875,
 'Open': 173.6199951171875,
 'High': 174.05999755859375,
 'Low': 171.0,
 'Volume': 45530000}

In [42]:
# accessing all the elements in the list

for i in result[0]:
  print(i)

05/12/2023
172.57000732421875
173.6199951171875
174.05999755859375
171.0
45530000